.h1 {
    border-bottom: 5px solid #FFFFFF;
    color: #FFFFFF;
    font-family: 'Bradley Hand', cursive;
    font-size: 42px;
    line-height: 60px;
    text-shadow: 2px 2px #555555;
}

.text-shadow {
  text-shadow: 0.5px 0.5px 0.5px #000000;

  &.btn.btn-warning {
    text-shadow: 0.5px 0.5px #FFFFFF;
  }
}
.fa,
.fa-chevron-circle-up {
    height: 20px;
    margin-left: -4px;
    min-height: 20px;
    min-width: 20px;
    width: 20px;
}

.red-team-color,
.red-knight-color {
    background-image: url("../../assets/images/frogo-red.png");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 30px;
    height: 30px;
    min-height: 30px;
    min-width: 30px;
    width: 30px;
}

.red-knight-color {
  background-image: url("../../assets/images/red-knight.png");
}

@media only screen and (max-width: 767px) {
    .h1 {
        border-bottom: 2px solid #FFFFFF;
        font-size: 30px;
        line-height: 40px;
        text-shadow: 1px 1px #555555;
    }
}
