<div class="container-fluid">
	<div class="d-flex justify-content-center">
		<div class="col text-center mt-5">
            <span class="h1 mb-2">Freckers</span>
        </div>
	</div>
	<div class="d-flex justify-content-center">
        <div class="col-8 col-md-4 mx-auto">
            <div class="row">
                <div class="col-12 text-center text-white mt-5">
                    <button
                        *ngIf="!isColorOptionAvailable()"
                        class="btn btn-primary text-shadow shadow rounded"
                        (click)="startGame(playerNumber)"
                        type="button">Start Game</button>
                    <ng-container *ngIf="isColorOptionAvailable()">
                        <button
                            class="btn btn-secondary text-shadow shadow rounded"
                            (click)="startGame(1)"
                            [ngbTooltip]="getTooltipStartMsg(1)"
                            tooltipClass="checkers-tooltip"
                            placement="bottom"
                            type="button">Start Game</button>
                        <button
                            class="btn btn-danger text-shadow shadow rounded ml-2"
                            (click)="startGame(2)"
                            [ngbTooltip]="getTooltipStartMsg(2)"
                            tooltipClass="checkers-tooltip"
                            placement="bottom"
                            type="button">Start Game</button>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
	<div class="d-flex justify-content-center">
		<div class="col text-center text-white mt-5">
            <button
                class="btn btn-sm btn-light btn-default text-shadow shadow rounded"
                (click)="enterHelp()"
                ngbTooltip="See Help Screen"
                tooltipClass="checkers-tooltip"
                placement="top"
                type="button">Tutorial</button>
        </div>
    </div>
	<div class="d-flex justify-content-center">
        <div class="col text-center text-white mt-5">
            <span class="h5 mt-5">Opponent</span>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="col text-center text-white mt-1">
            <div class="btn-group btn-group-lg d-lg-inline-block">
                <button *ngFor="let choice of ['Local Human', 'AI', 'Online Human']"
                    class="btn text-shadow shadow"
                    [class.btn-success]="activeOpponent === choice"
                    [class.btn-info]="activeOpponent !== choice"
                    (click)="opponentChange(choice)"
                    container="body"
                    [ngbTooltip]="getTooltipMsg(choice)"
                    tooltipClass="checkers-tooltip"
                    placement="top"
                    type="button">{{ choice }}</button>
            </div>
        </div>
    </div>
    <ng-container *ngIf="activeOpponent === 'AI'">
        <div class="d-flex justify-content-center">
            <div class="col text-center text-white mt-5">
                <span class="h5 mt-5">AI Difficulty Level</span>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="col text-center text-white mt-1">
                <div class="btn-group btn-group-lg d-lg-inline-block">
                    <button *ngFor="let choice of [1, 2, 3, 4]"
                        class="btn text-shadow shadow"
                        [class.btn-success]="activeDifficulty === choice"
                        [class.btn-info]="activeDifficulty !== choice"
                        (click)="difficultyChange(choice)"
                        container="body"
                        [ngbTooltip]="getTooltipDiffMsg(choice)"
                        tooltipClass="checkers-tooltip"
                        placement="top"
                        type="button">{{ choice }}</button>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="activeOpponent === 'Online Human'">
        <div class="d-flex justify-content-center">
            <div class="col text-center text-white mt-5">
                <span class="h5 mt-5">Online Preferences</span>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="col text-center text-white mt-1">
                <div class="btn-group btn-group-lg d-lg-inline-block">
                    <button *ngFor="let choice of [1, 2, 3]"
                        class="btn text-shadow shadow"
                        [class.btn-success]="activeOnlineMethod === choice"
                        [class.btn-info]="activeOnlineMethod !== choice"
                        (click)="onlineMethodChange(choice)"
                        container="body"
                        [ngbTooltip]="getTooltipOMMsg(choice)"
                        tooltipClass="checkers-tooltip"
                        placement="top"
                        type="button">{{ choice }}</button>
                </div>
            </div>
        </div>
    </ng-container>
</div>
