<div class="container-fluid">
  <div class="col-10 col-md-6 offset-1 offset-md-3">
    <div class="row text-center">
      <div class="col-6 col-md-2 order-6 order-md-1 my-auto">
        <button
          class="btn btn-sm btn-danger btn-default text-shadow shadow rounded"
          (click)="exitHelp()"
          ngbTooltip="Go Back"
          tooltipClass="checkers-tooltip"
          placement="bottom"
          type="button">Exit</button>
      </div>
      <div class="col-12 col-md-8 order-1 order-md-6 mt-2 mb-3">
        <span class="h1">Freckers</span>
      </div>
      <div class="col-6 col-md-2 order-12 my-auto">
        <div class="btn-group btn-group-sm d-sm-inline-block">
          <button
            class="btn btn-info text-shadow shadow"
            [disabled]="activePage <= 1"
            (click)="prevPage()"
            type="button"><span class="fa fa-backward"></span></button>
          <button
            class="btn btn-info text-shadow shadow"
            [disabled]="activePage >= totalPages"
            (click)="nextPage()"
            type="button"><span class="fa fa-forward"></span></button>
        </div>
      </div>
    </div>
    <div *ngIf="activePage === 1" class="d-flex justify-content-center">
      <div class="col text-left text-white pb-2 pt-2">
        <div class="h4">
          Each player can move one piece per turn, and only diagonally along the dark tiles.
          <br/>
          <br/>
          <div class="text-center"><img class="img-fluid" src="assets/images/checkers-help-01.jpg"/></div>
        </div>
      </div>
    </div>
    <div *ngIf="activePage === 2" class="d-flex justify-content-center">
      <div class="col text-left text-white pb-2 pt-2">
        <div class="h4">
          Unless a piece has been made a king, it could only move in the same vertical direction.
          <br/>
          <br/>
          <div class="text-center"><img class="img-fluid" src="assets/images/checkers-help-02.jpg"/></div>
        </div>
      </div>
    </div>
    <div *ngIf="activePage === 3" class="d-flex justify-content-center">
      <div class="col text-left text-white pb-2 pt-2">
        <div class="h4">
          Unless jumping over an opponent's piece, a player's piece can move diagonally only one tile.
          <br/>
          <br/>
          If jumping over an opponent's piece, the player's piece can and must leap two tiles diagonally.
          <br/>
          <br/>
          If a combination of jumps are available to the same piece in the same vertical direction,
          a player's piece can make multiple hops in the same turn.
          <br/>
          <br/>
          <div class="text-center"><img class="img-fluid" src="assets/images/checkers-help-03.jpg"/></div>
        </div>
      </div>
    </div>
    <div *ngIf="activePage === 4" class="d-flex justify-content-center">
      <div class="col text-left text-white pb-2 pt-2">
        <div class="h4">
          When a piece reaches the opposite end of the board, it is converted into a king.
          <br/>
          <br/>
          A king can move diagonally in either of the two vertical directions, and jump opponent pieces with the same freedom.
          <br/>
          <br/>
          <div class="text-center"><img class="img-fluid" src="assets/images/checkers-help-04.jpg"/></div>
        </div>
      </div>
    </div>
    <div *ngIf="activePage === 5" class="d-flex justify-content-center">
      <div class="col text-left text-white pb-2 pt-2">
        <div class="h4">
          To win the game, a player must either: eliminate all of the opponents' pieces,
          <br/>
          <br/>
          <div class="text-center"><img class="img-fluid" src="assets/images/checkers-help-05.jpg"/></div>
        </div>
      </div>
    </div>
    <div *ngIf="activePage === 6" class="d-flex justify-content-center">
      <div class="col text-left text-white pb-2 pt-2">
        <div class="h4">
          ... or trap the opponent in such a way that they have no valid moves to make during their turn.
          <br/>
          <br/>
          <div class="text-center"><img class="img-fluid" src="assets/images/checkers-help-06.jpg"/></div>
        </div>
      </div>
    </div>
  </div>
</div>
