.cell-size {
	font-size: 2.5vw;
	height: 4vw;
	min-height: 4vw;
	min-width: 4vw;
	width: 4vw;

	&:nth-child(n) {
		border: 1px solid #DEE2E6;
	}
}

.hovered-cell {
	background-color: #569B40 !important;
}

.tracked-cell {
	background-color: #B8BC3F !important;
}

.hovered-cell.tracked-cell {
	background-color: #E65252 !important;
}

.off-square {
	background-color: #9B6435;
}

.on-square {
	background-color: #819DB8;
}
