.rotate {
    transform: rotate(180deg);
}
.black-team-color {
  background-image: url("../../assets/images/frogo-red.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 4vw;
  height: 4vw;
	min-height: 4vw;
	min-width: 4vw;
	width: 4vw;
}
.white-team-color {
  background-image: url("../../assets/images/frogo-silver.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 4vw;
  height: 4vw;
	min-height: 4vw;
	min-width: 4vw;
	width: 4vw;
}
