.rotate {
    transform: rotate(180deg);
}
.red-team-color {
    background-image: url("../../assets/images/frogo-red.png");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 4vw;
    height: 4vw;
    min-height: 4vw;
    min-width: 4vw;
    width: 4vw;

    &.king {
        background-image: url("../../assets/images/frogo-red-king.png");
    }
}

.silver-team-color {
    background-image: url("../../assets/images/frogo-silver.png");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 4vw;
    height: 4vw;
	min-height: 4vw;
	min-width: 4vw;
    width: 4vw;

    &.king {
        background-image: url("../../assets/images/frogo-silver-king.png");
    }
}

 /* Fade-In Effect */
 .visible
 {
         visibility: visible;
         opacity: 1;
         transition: opacity 4s linear;
 }                
 /* Fade-Out Effect */
 .hidden
 {
         visibility: hidden;
         opacity: 0;
         transition: visibility 0s 4s, opacity 4s linear;
 }  