$enable-gradients: true;
$enable-shadows: true;
@import '~bootstrap/scss/bootstrap.scss';

// needed so font-awesome knows where fonts are loaded from
$fa-font-path: '~font-awesome/fonts';
@import '~font-awesome/scss/font-awesome';
