.h1 {
    border-bottom: 5px solid #FFFFFF;
    color: #FFFFFF;
    font-family: 'Bradley Hand', cursive;
    font-size: 42px;
    line-height: 60px;
    text-shadow: 2px 2px #555555;
}

.text-shadow {
  text-shadow: 0.5px 0.5px 3px #000000;

  &.btn.btn-warning {
    text-shadow: 0.5px 0.5px #FFFFFF;
  }
}

@media only screen and (max-width: 767px) {
    .h1 {
        border-bottom: 2px solid #FFFFFF;
        font-size: 30px;
        line-height: 40px;
        text-shadow: 1px 1px #555555;
    }
}